<h1>Firmen</h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let company of companies" (click)="onSelect(company)">
    <td>{{ company.Id }}</td>
    <td>{{ company.Name }}</td>
  </tr>
  </tbody>
</table>

<form name="edit" (ngSubmit)="onSubmit()">
  <div >
    <input id="name" name="companyname" [(ngModel)]="companyName" placeholder="Firmenname">
    <input type="submit" value="Speichern" class="btn"/>
  </div>
</form>
